* {
    font-family: "Roboto";
    color: #979797;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(../assets/loginCadastroFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container_cadastro {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    text-align: center;
    margin: 100px auto auto 200px;
    margin-top: 60px;
    padding: 20px 0 20px 0;
    position: relative;
    border: 1px solid white;
    border-top: none;
}

.container_titulo_cadastro {
    margin-top: 40px;
}

.cadastro_logocubo {
    width: 150px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
}

.container_inputs {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0px;
}

.inputs_cadastro {
    height: 35px;
    color: black;

    width: 320px;
}

.container_inputEtexto {

    margin-top: 20px;
    text-align: start;
}

.container_coluna_direita_cadastro {
    text-align: start;
}

.conteiner_termos_servico {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 320px;
    text-align: start;
}

.botao_cadastro {
    width: 320px;
    height: 52px;
    color: white;
    background-color: #979797;
    border: none;
    cursor: pointer;
    text-decoration: bold;

}

h1 {
    font-family: "Chakra Petch";
    color: #D7F9FF;
}

h2 {
    font-family: "Chakra Petch";
}

.texto_termos {
    text-decoration: none;
    color: #98D4DE;
}

.checkbox {
    margin: 0 10px 20px 0;
}

@media screen and (max-width: 600px) {
    .container_cadastro {
        background-color: rgba(0, 0, 0, 0.122);
        backdrop-filter: blur(2px);
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        position: relative;
        border: none;
    }

    .container_inputs {
        display: flex;
        width: auto;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .container_coluna_esquerda_cadastro {
        margin-right: 0px;
    }

    .conteiner_termos_servico {
        display: flex;
        max-width: 600px;
        flex-direction: row;
        margin: 20px 10px;
        align-items: start;
    }
}

.credenciasisGeradas {
    position: absolute;
    display: none;
    width: 400px;
    top: 30%;
    left: 35%;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #2D325A;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.tituloCredencial {
    color: #fff;
    /* text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; */
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.espacoParaCredencial {
    display: flex;
    align-items: center;
    background-color: #3d447a;
    color: #fff;
    padding: 10px;
    width: calc(100% - 20px);
    height: 30px;

}
.labelsCredencial {
    margin-top: 20px;
    color: #fff;
}
.btnConfirmar {
    text-decoration: none;
    color: #fff;
    background-color: #3d447a;
    border-radius: 20px;
    padding: 10px 50px;
    font-weight: bold;
}
.divBtn {
    margin-top: 30px;
    text-align: center;
}