.btnChat {
    border: none;
    padding: 10px 12px;
    background-color: #121835;
    position: fixed;
    right: 10px;
    border-radius: 100px;
    cursor: pointer;
    top: 82%;
}

#chat {
    display: none;
}
.imgRobo {
    width: 30px;
}
.chatbot {
    top: 20%;
    position: fixed;
    right: 10px;
    width: 350px;
    height: 410px; 
    background-color: #16204b;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding: 10px; */
    /* overflow-y: auto; */
    word-wrap: break-word;
    word-break: break-word;
}

.headerChatBot {
    background-color: #121835;
    font-family: "Chakra Petch";
    display: flex;
    /* justify-content: right; */
    color: white;
    padding: 10px;
    text-align: center;
}
.headerChatBot img {
    width: 50px;
}

.message-container {
    color: #fff;
    font-family: "Chakra Petch";
    margin: 10px 0;
}
#chat-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 320px;
    padding: 5px;
}
.input_usuario {
    display: flex;
    /* border-top: 1px solid #ccc; */
}
.message-container .msgUser {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    background-color: #263375;
    border-radius: 20px;
}

#input-usuario {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
}

#botao-enviar {
    background-color: #050629;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#botao-enviar:hover {
    background-color: #000000;
}
