*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    background-color:#25294A;
}
.menuLateral {

    padding: 20px;
    width: 40%;
    height: calc(100vh - 40px);
    background-color: #202442;
}
.menuLateral header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
.menuLateral header img {
    width: 50px;
}
.menuLateral header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.notification {
    padding:  10px;
    background-color: #2D325A;
    width: 90%;
    margin: 0 auto;
    
    border-radius: 20px;
    /* height: 216px; */
    margin-bottom: 30px;
}
.notification #listaDeNotificacao {
    overflow-y: scroll;
    height: 200px;

    overflow-x: hidden;
}
.btnSlack {
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    border-radius: 30px;
    font-family: "Chakra Petch";

    background-color: #202442;
    transition: 0.2s;
}

.btnSlack:hover {
    background-color: #3d447b;
}
.notification .bx {
    font-size: 20px;
    color: white;
}
.notification ul {
    padding: 3px 20px;
}
.notification .titulo {
    font-size: 20px;
    text-align: center;
}
.centerSlack {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification ul li {
    font-family: "Chakra Petch";
    padding: 10px 0;

    list-style: none;
    color: white;
    display: flex;
    border-bottom: 1px solid #CBD9F512;
    justify-content: space-between;
}
.notification .tituloNotification {
    width: 160px;
}
.Normal {
    color: rgb(0, 255, 0);
}
.Alerta {
    color: yellow;
}
.Crítico {
    color: red;
}
.listaDeComputadores {
    padding: 10px;
    background-color: #2D325A;
    width: 90%;
    margin: 0 auto;
    /* overflow-y: scroll; */
    /* scrollbar-width: thin; */
    /* scrollbar-color: #1c1f36 #2d325a00; */
    /* thumb cor, track cor */
    /* overflow-x: hidden; */
    border-radius: 20px;
    height: 300px;
    font-family: "Chakra Petch";
}
.headerLinks {
    display: flex;
    gap: 20px;
}
.headerLinks a {
    transition: all .1s linear;
}
.headerLinks a:hover {
    scale: 1.2;
    background-color: transparent;
    border-bottom: 3px solid rgb(255, 255, 255);
}
#listaFiltroPc {
    padding-right: 10px;
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.filtro {
    background-color: transparent;
    color: #ffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.bxs-right-arrow, .bxs-down-arrow {
    margin-left: 10px;
    font-size: 15px;
}

.bxs-info-circle {
    font-size: 20px;
    color: #fff;
}
.infoFiltro {
    cursor: pointer;
    margin-right: 5px;
    background-color: transparent;
    border: none;
}
.nomeParametro {
    color: #fff;
    width: 70px;
    font-size: 14px;
}

.listaDeComputadores ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
.listaDeComputadores ul li .bx {
    font-size: 50px;
    
}
.descricaoPc {
    color: #fff;
    width: 120px;
}
.descricaoPc .nomePc  {
    font-size: 16px;
}
.descricaoPc .componentePc {
    font-size: 12px;
}
.btnVerificar {
    cursor: pointer;
    font-family: "Chakra Petch";
    font-weight: bold;
    color: #fff;
    background-color: #25294A;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    }

    .btnVerificar:hover{
        background-color: #3d447a;
    }

    .emergencia {
        color: red;
    }
    .alerta {
    color: yellow;
}
.normal {
    color: green;
}
.item6 .titulos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.titulos p {
    width: 100px;
}
.boxInformationAlerts {
    display: none;
    border-right: 1px solid white;
    position: absolute;
    left: 26.4%;
    width: 200px;
    padding: 20px;
    background-color: #2D325A;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.boxInformationAlerts .information {
    display: flex;
    color: #fff;
    font-family: "Chakra Petch";

    gap: 20px;
}
.dashboard {
    width: 100%;
    padding: 0 30px;
}
.titulo {
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
    font-family: "Chakra Petch";
}
.container {
    margin-top: 20px;
    font-family: "Chakra Petch";
    
}
.dashboard .container {
    display: grid;
    margin-bottom: 10px;
    gap: 10px;
    grid-template-rows: 170px; /* Duas linhas de altura 100px e 200px */
    grid-template-columns: 0.5fr 1fr 1fr; /* Duas colunas, a primeira com 1 parte e a segunda com 2 partes */
}
.dashboard .container2 {
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: 210px; /* Duas linhas de altura 100px e 200px */
    grid-template-columns: 1fr 1fr;     
}
.dashboard .container3 {
    display: grid;
    gap: 10px;
    grid-template-rows: 250px ; /* Duas linhas de altura 100px e 200px */
    grid-template-columns: 2fr 1fr; 
}

.item1, .item2, .item3, .item4, .item5, .item7, .item8 {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Chakra Petch";
    color: #fff;
    justify-content: center;
    background-color: #2D325A;
}
.item7 {
    flex-direction: column;
    border-bottom: 2px solid red;

}
.item7 .btnVerMais {
    margin-top: 20px;
}
.divFlex {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.item3 {
    justify-content: space-between;
   flex-direction: column;
}
.item5, .item6 {
    justify-content: space-between;
}
.item6 ul {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 190px;
}
.item6 ul li {
    display: flex;
   margin-top: 10px;
    justify-content: space-between;
}
.descricaoTabela {
    font-size: 18px;
    width: 100px;
    color: #c9c9c9;
}
.descricaoHrAtualizacao {
    font-family: "Chakra Petch";
   padding: 5px;
    color: #c9c9c9;
}
.item6 {
    color: #fff;
    font-family: "Chakra Petch";
    background-color: #2D325A;
    border-radius: 20px;
    padding: 10px;
    
}
.item1 {
    
    border-bottom: 2px solid green;
}
.item2 {
    flex-direction: column;
    border-bottom: 2px solid red;
    
}
.item3 {
    border-bottom: 2px solid yellow;

}
.item4, .item5 {
   flex-direction: column;
}
.item4 {
    border-bottom: 2px solid red;

}
.item5 {
    border-bottom: 2px solid yellow;

}
.tituloCards {
    font-size: 70px;
}
.descricaoCards {
    font-size: 25px;
    font-weight: bold;
}
.btnVerMais {
    background-color: #25294A;
    border: none;
    padding: 4px 30px;
    color: #ffff;
    font-family: "Chakra Petch";
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btnVerMais:hover{
    background-color: #3d447a;
}

.item6 table{
    width: 100%;
}
.item6 tr {
    display: flex;
    justify-content: space-between;
}

.item6 th {
    font-size: 20px;
}
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100; /* cor de fundo da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #c9c9c9; /* cor da barra de rolagem */
  }
 .filtro {
    gap: 10px;
    align-items: center;
    display: flex;
 }
  .boxFiltros select {
    border: none;
    background-color: #262b4d;
    color: #fff;
    outline: none;
    padding: 5px 20px;
  }
  .boxFiltros option {
    padding: 20px;

  }

  .Parametroalerta,.Parametronormal,.Parametroemergencia{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* gap: 10px; */
    /* text-align: left; */
    margin-bottom: 10px;
  }
  .sobrepor {
    display: flex;
    /* background-color: #000; */
  }
  .boxVerMais {
  z-index: 1000;
    left: 35%;
    display: none;
    top: 20%;
    position: absolute;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#3d447b;
    width: 400px;
   height: 400px;
   overflow-x: hidden;
   overflow-y: scroll;
  }
  .boxVerMais header {
    display: flex;
    align-items: top;
    position: fixed;
    justify-content: space-between;
    top:20%;
    background-color: #3d447b;
    width: 400px;

  }
  .boxVerMais .bx-laptop {
    font-size: 30px;
    width: 40px;
  }
  #listaFiltroPc li span .bx {
    width: 50px;
  }
  #listaFiltroPc .descricaoPc{
    width: 100px;
  }
    .boxVerMais .btnFecha {
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    padding: 0px 7px;
    border-radius: 100px;
    transition: 0.1s;
  }
.btnFecha:hover {
    background-color: rgb(122, 142, 255);
}
  .boxVerMais h2 {
    color: #fff;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Chakra Petch";

  }
  .boxVerMais ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .boxVerMais ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boxVerMais ul li p {
    font-family: "Chakra Petch";
    color: #fff;
  }
  .boxVerMais .nomeComputador, .componentePc {
    width: 120px;
  }
  .btnVer {
    color: #fff;
    text-decoration: none;
    font-family: "Chakra Petch";
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #141728;
  }

  .botaoVoltarPerfil{
    transition: 0.5s;
  }
  .botaoVoltarPerfil:hover{
    background-color: #3d447a;
  }