* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    background-color: #25294A;
}
.user {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menuLateral header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.menuLateral header img {
    width: 50px;
}
.menuLateral header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.userNome {
    font-size: 16px;
    font-family: "Chakra Petch";

    color: #fff;
}
.nomeInfo {
    font-weight: bold;

}
.headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerInfo button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.headerInfo .bx {
    margin-right: 10px;
    font-size: 20px;
    color: #e5e5e5;
}
.menuLateral {
    padding: 20px;
    background-color: #202442;
    width: 20%;
    height: calc(100vh - 40px);
    scrollbar-color: #1c1f3600 #0022ff00;
    
    overflow: auto;
}


.menuLateral img {
    width: 70px;
}

.caixaInformacoesComputador {
    width: (100% - 20px);
    margin: 6% auto 10px;
    background-color: #2D325A;
    border-radius: 20px;
    /* height: 120px; */
    padding: 10px;
}
.caixaRolagem {
    width: calc(100% - 20px);
    margin: 10px auto 0;
    background-color: #2D325A;
    border-radius: 20px;
    height: 280px;
    padding: 10px;
}
.caixaAnalytics {
    width: calc(100% - 20px);
    margin: 10px auto;
    background-color: #2D325A;
    border-radius: 20px;
    
    padding: 10px;
}
.caixaDisco {
    width: 280px;
    background-color: #2D325A;
    border-radius: 20px;
    height: 280px;
    padding: 10px;
}

/* aqui! */
.caixaDisco h2{
text-align: center;
}

.titulosCaixas, .tituloNormal {
    font-size: 18px;
    color: #fff;
    font-family: "Chakra Petch";
}
.conteudo {
    margin-top: 40px;
    width: calc(80% - 10px);
    padding: 10px;
}
.listaEgraficos {
    display: flex;
    gap: 10px;
}
.graficos {
    width: 75%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.listaDeComputadores {
    background-color: #2D325A;
    width: 25%;
    padding: 10px;
    /* height: 85vh; */
    border-radius: 15px;
}
#listaComputadores{
    list-style: none;
}

.ram, .cpu {
    background-color: #2D325A;
    height: 300px;
    border-radius: 15px;
    /* aqui! */
    width: 540px;
}
.caixaDisco #myChart3 {
    height: 230px !important;
    width: 230px !important;
    margin: 0 auto;
}

.ram{
    margin-top: 10px;
}
.listaDeComputadores input {
    border: none;
    background-color: #202442;
    border-radius: 15px;
    color: #fff;
    padding: 8px 10px;
    width: calc(100% - 20px);
}
.listaDeComputadores input::placeholder {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
}
.tituloLista {
    font-size: 18px;
    font-family: "Chakra Petch";
    text-align: center;
    padding: 10px 0;
    color: #ACADAE;
}
.computador {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.computador .tituloComputadores {
    font-size: 18px;
    /* width: 90%; */
    color: #fff;
    font-family: "Chakra Petch";
}
.status p {
    font-size: 16px;
    color: #fff;
    font-family: "Chakra Petch";
}
.status {
    width: 50%;
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.statusVerde, .statusVermelho, .statusAmarelo {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.statusAmarelo {
    background-color: yellow;
}
.statusVerde {
    background-color: green;
}
.statusVermelho {
    background-color: red;
}
.computador button {
    width: 50%;
    border: none;
    font-family: "Chakra Petch";
    font-weight: bold;
    background-color: #25294A;
    border-radius: 100px;
    font-size: 17px;
    height: 30px;
    color: #fff;
    transition: 0.5s;
}

.computador button:hover{
    background-color: #3d447a;
}

.pointer {
    cursor: pointer;

}
.caixaAnalytics .informacoes {
    margin-top: 10px;
    font-family: "Chakra Petch";
    font-weight: bold;
    gap: 4px;
    color: #fff;
    
    display: flex;
    align-items: center;
} 
.infoTitulo {
    width: 100px;
    font-size: 30px;
}

.emergencia {
    padding: 10px;
    background-color: rgb(255, 0, 0);
}
.normal {
    padding: 10px;

    background-color: green;
}
.alerta {
    padding: 10px;

    background-color: yellow;
}

.descricaoAlertas {
    margin-top: 5px;
    font-family: "Chakra Petch";
    font-size: 16px;
    color: #ffffff;
}
.informacoes .emergencia, .normal, .alerta {
    border-radius: 100%;
    margin-right: 10px;
    /* padding: 10px; */
    /* background-color: aqua; */
}
.analyticsDescricao {
    margin-top: 20px;
    font-family: "Chakra Petch";
    color: #c9c9c9;
}
.infoFiltro {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.analyticsParametros {
    padding: 20px;
    background-color: #2D325A;
    border-radius: 20px;
}

.boxInformationAlerts {
    display: none;
    border-right: 1px solid white;
    margin-top: 10px;
    position: absolute;
    left: 41.1%;
    padding: 20px;
    background-color: #2D325A;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.information {
    margin-top: 10px;
    display: flex;
    color: #fff;
    font-family: "Chakra Petch";
    gap: 20px;
}

.botaoVoltarPerfil{
    transition: 0.5s;
  }
  .botaoVoltarPerfil:hover{
    background-color: #3d447a;
  }
  .descricaoRede {
    color: #fff;
    font-family: "Chakra Petch";
    padding: 10px 0;
    font-size: 18px;
    /* border-bottom: 1px solid #c6c6c6c6; */
  }
  .globalRede {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .descricaoRede .bx {
    margin-left: 20px;
  }
  .redeAlerta {
    padding: 1px 13px;
    margin-right: 6px;
    background-color: yellow;
    border-radius: 200px;
  }
  .redeCritico {
    padding: 1px 13px;
    margin-right: 6px;
    background-color: red;
    border-radius: 200px;
  }
  .redeNormal {
    padding: 1px 13px;
    margin-right: 6px;
    background-color: green;
    border-radius: 200px;
  }
  .hostname {
    color: #c9c9c9;
    font-family: "Chakra Petch";
    margin-bottom: 10px;
  }