/* body {
    box-sizing: border-box;
}
main {
    justify-content: space-between;
    display: flex;
    background-color: #25294A;
    height: 100vh;
} */
/* .divMenuLateral{
    position: sticky;
} */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pesquisaDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerGerenciar {
    width: 70%;
    padding: 20px 20px;
    background-color: #1b1e3b;
}
.search input {
    background-color: transparent;
    
    width: 300px;
    border: 3px solid #353c72;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    padding: 10px 10px;
}

.globalFuncionario {
    width: 70%;
    display: none;
    position: absolute;
    top: 0;
}

.bx-search-alt {
    background-color: #353c72;
    padding: 10.5px;
}
.search {
    display: flex;
    align-items: center;
}
.headerGerenciar p {
    font-size: 20px;
    color: #d7d5d5;
    font-family: "Chakra Petch";

}
.corpoGerenciar {
    width: 70%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #2a2f5c;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btnFuncionario {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #d3d3d3;
    font-weight: bold;
}
.bx-add-to-queue {
    margin-left: 10px;
}
.cadastroDeFuncionario {
    padding: 20px 30px;
    width: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: none;
    background-color: #1b1e3b;
}
.fechar {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: 
    relative;
    left: 100%;
    cursor: pointer;
}
.btnCadastrar {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    width: 100%;
    border: 1px solid #c7c7c7;
    cursor: pointer;
    border-radius: 40px;
    font-size: 18px;
    background-color: transparent;
    color: #c7c7c7;
}
.funcLabel {
    margin-top: 20px;
}
.funcLabel input {
    width: calc(100% - 24px);
    padding: 10px;
}
.funcLabel p {
    color: #fff;
}
.funcionarioNome {
    color: #fff;
}
.listaDeFuncionarios li:first-child{
    margin-top: 0;
}
.listaDeFuncionarios li {
    margin-top: 20px;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.listaDeFuncionarios li .nmrFuncionario, .funcionarioNome, .funcionarioEmail {
    font-size: 18px;
    font-family: "Chakra Petch";
    color: #fff;

}
.globalFuncionario {
    width: 70%;   
}
.botaosGerenciar {
    display: flex;
    gap: 20px;
}
.botaosGerenciar button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.botaosGerenciar button i {
    color: #fff;
    font-size: 22px;
}