*{
    padding: 0;
    margin: 0;
}
.cabecalho {
    position: fixed;
    top: 0;
    transition: 0.3s;
}

.white-bg {
    
    background-color: white; /* Adicionamos uma nova classe para alterar a cor do cabeçalho */
}
.hidden {
    top: -300px;
    transition: top 0.3s;
}

.inicioBanner {
    background-image: url(../assets/Group\ 537.png);
    background-position: center;
    height: 442px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 100px;
}
.col-1_banner {
    display: flex;
    align-items: center;
}
.col-1_banner img {
    width: 70px;
}
.col-1_banner .titulo {
    color: #fff;
    font-family: "Chakra Petch";

}
.divisor {
    margin-right: 20px;
    width: 2px;
    height: 50px;
    background-color: #fff;
}
.inicioBanner .titulo-1, .inicioBanner .titulo-2 {
    font-family: "Chakra Petch";
    font-size: 50px;
}
.inicioBanner .titulo-1 {
    margin-top: 30px;
    color: #D7F9FF;
}
.inicioBanner .titulo-2 {
    color: #47658C;
    
}
.inicioBanner p {
    margin-top: 30px;
    color: #fff;
    font-family: "Roboto";
}
.containerPrincipal {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerPrincipal .titulo-1 {
    font-family: "Roboto";
    font-size: 30px;
    color: #000;
}
.containerPrincipal .titulo-2 {
    font-family: "Roboto";
    font-size: 30px;
    color: #00A2FF;
}
.containerPrincipal .descricao {
    margin-top: 30px;
    font-family: "Roboto";
    width: 600px;
}
.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.cards .card {
    width: 162px;
    text-align: center;
}
.card h3 {
    font-family: "Chakra Petch";
    margin: 15px 0;
    font-size: 20px;
    background-image: linear-gradient(to right, #0099ff, #000009); /* Define o gradiente linear */
    -webkit-background-clip: text; /* Define a área de clipping como texto para navegadores Webkit (Safari/Chrome) */
    background-clip: text; /* Define a área de clipping como texto */
    color: transparent; /* Torna o texto transparente */
}
.cards .card .descricaoCard {
    margin: 0 auto;
    font-family: "Roboto";
    width: 100px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 200;
}

