* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: black;
}



.cabecalho {
    position: fixed;
    top: 0;
    transition: 0.3s;
}

.white-bg {

    background-color: white;
    /* Adicionamos uma nova classe para alterar a cor do cabeçalho */
}

.hidden {
    top: -300px;
    transition: top 0.3s;
}

.inicioBanner {
    background-image: url(../assets/bannerEscuro.png);
    background-position: center;
    height: 542px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 100px;
}

.col-1_banner {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.col-1_banner img {
    width: 70px;
}

.col-1_banner .titulo {
    color: #fff;
    font-family: "Chakra Petch";

}

.divisor {
    margin-right: 20px;
    width: 2px;
    height: 50px;
    background-color: #fff;
}

.inicioBanner .titulo-1,
.inicioBanner .titulo-2 {
    font-family: "Chakra Petch";
    font-size: 50px;
}

.inicioBanner .titulo-1 {
    margin-top: 30px;
    color: #D7F9FF;
}
.mobileTxt {
    display: none;
}
.inicioBanner .titulo-2 {
    color: #47658C;

}

.inicioBanner p {
    margin-top: 30px;
    color: #fff;
    font-family: "Roboto";
}

.containerPrincipal {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerPrincipal .titulo-1 {
    font-family: "Chakra Petch";
    font-size: 30px;
    color: #000;
}

.containerPrincipal .titulo-2 {
    font-family: "Chakra Petch";
    font-size: 30px;
    color: #00A2FF;
}

.containerPrincipal .descricao {
    margin-top: 30px;
    font-family: "Roboto";
    width: 600px;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
}

.cards .card {
    width: 220px;
    text-align: center;
}

.card h3 {
    font-family: "Chakra Petch";
    margin: 15px 0;
    font-size: 20px;
    background-image: linear-gradient(to right, #0099ff, #000009);
    /* Define o gradiente linear */
    -webkit-background-clip: text;
    /* Define a área de clipping como texto para navegadores Webkit (Safari/Chrome) */
    background-clip: text;
    /* Define a área de clipping como texto */
    color: transparent;
    /* Torna o texto transparente */
}

.cards .card .descricaoCard {
    margin: 0 auto;
    font-family: "Roboto";
    width: 130px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 200;
}

.bannerMeio {
    background-color: #000;
    background-image: url("../assets/Group\ 1487.png");
    height: 656px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.sobreEmpresa {
    background-color: #01080E;
    padding: 30px;
}

.empresa .cubo {
    width: 400px;
    height: 385px;
}

.empresa {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.empresa .cardsEmpresa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cardsEmpresa {
    margin-bottom: 50px;
}

.cardsEmpresa .card {
    width: 230px;
}

.cardsEmpresa .card .titulo {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.cardsEmpresa .card .empresaSubtitulo {
    color: #98D4DE;
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cardsEmpresa .descricao {
    padding: 20px;
    color: #D7F9FF;
    font-family: "Oswald", sans-serif;
    background-color: #021017;
    border-bottom-right-radius: 20%;
}

.top {
    margin-top: 80px;
}

.sobreEmpresa .titulo {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: "Chakra Petch";

}

.linhaDaEmpresa {
    text-align: center;
}

.container_nav-mob {
    top: 60%;
}

.divisao {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.faq_imagem_texto {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
    font-family: "Chakra Petch";
    color: #051933;
    font-size: 60px;
    text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.missoes {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.faq_perguntas {
    font-family: "Chakra Petch";
    font-size: 20px;
    color: white;
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;

    flex-direction: column;
}

.div_botaoscroll {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    top: 350px;
    right: 10px;
}

.botaoscroll {
    display: flex;
    width: 50px;
}

.lacuna_perguntas {
    border-top: 1px solid #2B2B2B;
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.numero_faq {
    color: #6D6E6F;
}

.botao_faq {
    background-color: #01080E;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: auto;
    border: none;
    width: 25px;
    height: 25px;
    background-image: url("../assets/VECTORseta.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.botao_fechar_faq {
    background-color: #01080E;
    display: flex;
    text-align: center;
    align-items: center;
    padding: auto;
    border: none;
    width: 25px;
    height: 25px;
    background-image: url("../assets/VECTORsetaFechar.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.titulo_fac {
    margin-top: 20px;
}

.divs_faq {
    margin-bottom: 20px;
    color: #D7F9FF;
}

@media screen and (max-width: 1400px) {
    .mobileEcomputador {
        width: 400px;
    }

    .divisao {
        display: flex;
        width: 75%;
        height: auto;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }

    .cardsEmpresa {
        flex-wrap: wrap;
    }

    .some {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .inicioBanner p {
        display: none;
    }
    .empresa {
        flex-wrap: wrap;
    }


    .div_botaoscroll {
        display: none;
    }

    .top {
        margin-top: 0;
    }

    .containerPrincipal {
        justify-content: center;
        flex-wrap: wrap;
    }

    .cards {
        flex-wrap: wrap;
    }

    .principal_textos {
        margin: auto;
    }

    .divisao {
        width: 100%;
    }

    .some {
        display: none;
    }

    .missoes img {
        width: 100%;
    }

    .containerPrincipal {
        padding: 20px 20px;
    }

    .containerPrincipal .descricao {
        width: 100%;
    }

    .mobileEcomputador {
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .col-1_banner {
    
        margin-top: 0;
    }
    .empresa .cubo {
        width: 300px;
        height: 285px;
    }
}

@media screen and (max-width: 500px) {
    .inicioBanner .titulo-2 {
        color: #f3f3f3;
    }
    .mobileEcomputador {
        width: 300px;
    }
    .mobile {
        display: none;
    }
    
    /* .mobileTxt {
        display: block;
        margin-top: 20px;
        font-family: "Chakra Petch";
        font-size: 20px;
    } */
    .cards {
        gap: 20px;
    }
}

@media screen and (max-width: 800px) {

    .inicioBanner .titulo-1 {
        font-size: 35px;
    }

    .inicioBanner .titulo-2 {
        font-size: 30px;
    }

    .inicioBanner {
        padding: 100px 30px;
    }

    .titulo_fac {
        width: 85%;
    }
}