body {
    background-image: url(../assets/loginCadastroFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.centralizarBox {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box_login {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    margin: 100px auto auto 200px;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 440px;
    border: 1px solid white;
    border-top: none;

}

.login_cuboLogo {
    width: 150px;
    position: absolute;
    /* posicionamento absoluto */
    top: -40px;
    /* alinhamento no topo */
    left: 50%;
    /* centralização horizontal */
    transform: translateX(-50%);
    /* ajuste para centralizar horizontalmente */
}


.titulo {
    color: #D7F9FF;
    font-family: "Chakra Petch";
    text-align: center;
    width: 320px;
    margin-top: 40px;
}

.box_login .subtitulo {
    text-align: center;
    color: #979797;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.labels_inputs {
    margin: 20px 0;
}

.labels_inputs p {
    color: #979797;
    font-size: 18px;
    font-family: "Roboto";
}

.inputs_login {
    height: 35px;
    width: 320px;
}

.btn_continue {
    margin-top: 20px;
    width: 320px;
    height: 42px;
    font-family: "Roboto";
    font-weight: bold;
    border: none;
    background-color: #979797;
    color: #fff;
}

.btn_naoTemConta {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn_naoTemConta p {
    color: #979797;
    font-size: 14px;
    font-family: "Roboto";
}

.btn_naoTemConta a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto";
}

@media screen and (max-width: 600px) {

    .centralizarBox {
        margin-top: 20%;
    }

    .box_login {
        position: relative;
        background-color: rgba(0, 0, 0, 0.122);
        backdrop-filter: blur(2px);
        margin: auto;
        width: auto;
        border: none;
    }
}