* {
    padding: 0;
    margin: 0;
    color: White;
}
html{
    background-color: #25294A;
}
body {
    height: 100%;
    background-color: #25294A;
}
main {
    font-family: "Chakra Petch";
    background-color: #25294A;
    /* overflow: auto; */
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: row;
}

::-webkit-scrollbar {
    display: none;
}

.divPerfil{
    width: 100vh;
    height: 100%;
    font-family: "Chakra Petch";
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divInformacoesGerente{
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.divInformacoes{
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #B3B8DF80;
    margin: 20px 0;
    color: black;
}

.divInformacao{
    margin: 25px 0;
}

hr{
    border: 1px solid #979797;
}

.divEditar{
    width: 170px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #6D6E6F;
    cursor: pointer;
}

.infoEmpresa{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    height: 125px;
    background-color: #323868;
}