body.show-chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    z-index: -100;
}

.chatbot {
    width: 400px;
    height: 500px; 
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #16204ba2;

    margin-top: 70px;
}

header {
    background-color: #151f54;
    color: white;
    padding: 10px;
    text-align: center;
}

.chatbox {
    flex: 1;
    
    padding: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}

.message-container {
    margin: 10px 0;
}
#chat-container {
    color: #fff;
}
.input_usuario {
    display: flex;
    /* border-top: 1px solid #ccc; */
}

#input-usuario {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
}

#botao-enviar {
    background-color: #051822;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#botao-enviar:hover {
    background-color: #000000;
}
