<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="show-chatbot">
    <div class="chatbot">
        <header>
            <h3>Chat CyberWise</h3>
        </header>
        <ul class="chatbox">
            
            <li id="chat-container"></li>
        </ul>
        <div class="input_usuario">
            <input type="text" id="input-usuario" placeholder="Digite aqui...">
            <button id="botao-enviar">Enviar</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
